@{
    ViewData["Title"] = "Employees Page";
}
@model BCX_CORE.DTOs.Employees.EmployeeCollection

    <div class="text-center">
        <h1 class="display-4">Employees</h1>
        <p>Create all your casual employees here.</p>
        <a role="button" class="btn btn-outline-primary" asp-action="CreateNew" asp-controller="Employees">New Employee</a>
        <div>
            <form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Employee ID</th>
                            <th scope="col"></th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            @*<th scope="col">Role</th>*@
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null)
                        {
                            foreach (var emp in Model.Employees)
                            {
                                <tr class="">
                                    <td>@emp.Id</td>
                                    <td style="max-width: 20px">
                                        @if (emp.ImagePath != null)
                                        {
                                            <img src="@("/images/" + emp.ImagePath)" class="rounded-circle" asp-append-version="true" width="50px" height="50px" />
                                            <br />

                                        }
                                    </td>
                                    <td>@emp.FirstName</td>
                                    <td>@emp.LastName</td>
                                    @*<td>@emp.Role</td>*@

                                    <td>
                                        <button type="submit" class="btn btn-outline-primary" asp-route-id="@emp.Id" asp-action="edit" asp-controller="Employees">Edit</button>
                                    </td>
                                </tr>
                            }
                        }

                        else
                        {
                            <tr>
                                <td>No employees yet. <a asp-action="create" asp-controller="employees">Create</a> the first!</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </form>
        </div>
    </div>
